<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BlueCupcake</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1><span style="color: dodgerblue">Blue</span>Cupcake</h1>
		<div id="app">
			    <h2>Players</h2>
		  		<ul>
					<li v-for="(player, index) in world.players">
					  <span @click="onObjClick(player)" style="font-weight:bold;">{{ player.name }} {{ index }} </span> - {{ player.points }}
					  <ul>
					    <li><a @click="dealCard(player)">Deal me</a></li>
					    <ul>
					      <li v-for="card in player.hand">
					      <b>{{ card.name }}</b> - {{ card.desc }} <a @click="playCard(player, card)">Play card</a>
					      </li>
					    </ul>
					  </ul>
					</li>
		  		</ul>
		  		<h2>Deck</h2>
		  		<ul>
		  			<li v-for="card in world.cards">
		  				<b>{{ card.name }}</b> - {{ card.desc }}
		  			</li>
		  	  	</ul>
		</div>
	</div>
	<script src="bundle.js"></script>
</body>
</html>