<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BlueCupcake</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        BlueCupcake
	      </a>
	    </div>
	  </div>
	</nav>
	
	<div class="container" id="app">
		<div class="row">
		  <div class="col-md-6" v-for="(player, index) in world.players">
			<h1 @click="onObjClick(player)" >{{ player.name }}</h1>
			<h2 class="score">{{ player.points }}</h2>
			<button class="btn btn-default" @click="dealCard(player)">Deal me</button>
			<ul v-for="card in player.hand">
    			<li>
    				<b>{{ card.name }}</b> {{ card.desc }}
    				<a @click="playCard(player, card)">Play card</a>
    			</li>
  			</ul>
		  </div>
		</div>

  		<h1>Deck</h1>
  		<ul>
  			<li v-for="card in world.cards">
  				<b>{{ card.name }}</b> - {{ card.desc }}
  			</li>
  	  	</ul>
	</div>
	
	<script src="bundle.js"></script>
</body>
</html>